body {
	background-color: rgb(246, 246, 246)
  }
  .rating {
	margin-top: 100px;
	display: flex;
	justify-content: center;
  }
  .titulo h1{
	display:FLEX;
	justify-content:center;
	align-items:center;
	height: 100vh;
  }

  .app{
	border: 2px black solid;
  }
  .item {
    margin-top: 900px;
	width: 450px;
	height: auto;
	padding: 50px;
  }
  
  .item-full {
    background-color: red;
    transform: scale(1.1) 0.4s;
  }